<!-- POP UP -->
<aside id="popUp" class="popup">
    <div class="popUpContainer">
    <header>
        <a href="#!" class="closePopUp">X</a>
        <h2>Add Product!</h2>
    </header>
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <label for="">Nama Barang</label> <input type="text" value="" id="namabarang" name="namabarang" required>
            </div>
            <div class="col-sm-6">
                <label for="">Harge Beli</label> <input type="number" value="" id="hargabeli" name="hargabeli" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Harge Jual</label> <input type="number" value="" id="hargajual" name="hargajual" required>
            </div>
            <div class="col-sm-6">
                <label for="">Stok</label> <input type="number" value="" id="stock" name="stok" required>
            </div>
        </div style="display: flex; justify-content: center; ">
        <div class="row">
            <div class="col-sm-6" style="margin-top:20px;">
                <label for="avatar">Choose a profile picture:</label>
                <input type="file" name="image" id="image" value="" required>
            </div>
            <div class="col-sm-6" style="margin-top:40px;">
                <button type="submit" style="align-items: center;
                background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
                border: 0;
                border-radius: 8px;
                box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
                box-sizing: border-box;
                color: #FFFFFF;
                display: flex;
                font-family: Phantomsans, sans-serif;
                font-size: 20px;
                justify-content: center;
                line-height: 1em;
                max-width: 100%;
                min-width: 140px;
                padding: 19px 24px;
                text-decoration: none;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                white-space: nowrap;
                cursor: pointer;">Add Product</button>
            </div>
        </div>
    </form>
</div>        
<a href="#!" class="closePopUpOutSide"></a>    
</aside>