<div class="sidebar">
    <div class="logo">
        <a href="/">
            <span class="logo-emblem"><img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/6955c5111f806ed13b53c88ec579d579.jpg" alt="BA" /></span>
            <span class="logo-full">NUTECH</span>
        </a>
    </div>
    <ul id="sidebarCookie">
        <li class="spacer"></li>
        <li class="profile">
            <span class="profile-image">
                <img src="https://cdn-asset.jawapos.com/wp-content/uploads/2019/01/ini-kesalahan-gaya-fashion-idol-k-pop-yang-ditiru-pria-indonesia_c_276007-750x1125.jpg" alt="profile" />
            </span>
            <span class="profile-name">
                Ceyancodes
            </span>
            <span class="profile-info">
                Premium User
            </span>
        </li>
        <li class="spacer"></li>
        <li class="title">
            <i class="feather icon-more-horizontal"></i>
            <span class="menu-title">Main</span>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed wave-effect" data-parent="#sidebarCookie" data-toggle="collapse" href="#navDashboard" aria-expanded="false" aria-controls="page-dashboards">
                <i class="feather icon-grid"></i>
                <span class="menu-title">Product</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="navDashboard">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="/">
                            <i class="feather icon-layout"></i>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-darkSidebar wave-effect" href="javascript: void();">
                            <i class="feather icon-shopping-bag"></i>
                            <span class="menu-title">Change Sidebar Color</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="spacer"></li>
        <li class="button-container">
            <a href="" class="btn btn-primary display-block"><i class="feather icon-download"></i> Download on Github</a>
        </li>
    </ul>
</div>