<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-4">
                        <small>Total Product</small>
                        <h4 class="mb-0">$3,567.53</h4>
                    </div>
                    <div class="chart ml-auto">
                        asdfadf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover bg-red">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-4">
                        <small>Total Assets</small>
                        <h4 class="mb-0">Rp 3,567.000.53</h4>
                    </div>
                    <div class="chart ml-auto">
                        asdfadf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover bg-green">
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-4">
                        <small>Wallet Balance</small>
                        <h4 class="mb-0">Rp 3,567.000.53</h4>
                    </div>
                    <div class="chart ml-auto">
                        asdfadf
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>